@openos-project:registry=https://gitlab.com/api/v4/projects/81413030/packages/npm/
//gitlab.com/api/v4/projects/81413030/packages/npm/:_authToken=glpat-nO_2SBKvm-82cMOyvAmIdWM6MQpvOjEKdTo1emM4eQ8.01.170bee80t
